<div class="header-container">
  <div (mouseleave)="triggerChangeColor = !triggerChangeColor" [class.changeColor]="triggerChangeColor" class="logo">
    Kevin Kühle {{ userName }} {{  userPasswort}}
  </div>
  <div class="menu">
    <a routerLink="" class="btn btn-primary">Startseite</a>
    <a routerLink="Bilder" class="btn btn-primary">Bilder</a>
  </div>
  <a *ngIf="!isLoggedIn" (click)="showLogin = !showLogin" class="btn btn-primary">Anmelden</a>
  <a *ngIf="isLoggedIn" (click)="logMeOut()" class="btn btn-primary">Abmelden</a>
</div>

<div [hidden]="showLogin" [class.fadeInR]="showLogin" class="formContainer slideInDown">
  <div class="header">
    <button (click)="showLogin = !showLogin" type="button" class="close-btn close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 >Anmelden</h3>
  </div>
  <div class="body">
    <form class="loginForm">
      <div class="group">
        <label for="name"> <small>Email</small> </label>
        <input [(ngModel)]="userName" placeholder="admin" id="name" name="name" type="text">
      </div>
      <div class="group">
        <label for="passwort"><small>Passwort</small></label>
        <input [(ngModel)]="userPasswort" id="passwort" name="passwort" placeholder="12345" type="password">
      </div>
      <button (click)="checkLoginSubmit()" type="button" name="" id="" class="btn btn-primary btn-lg btn-block">{{ 'Anmelden' | uppercase }}</button>
    </form>
  </div>
</div>
